
/* 1--example with moving growing square */
/* body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.box {
    width: 5em;
    height: 5em;
    background: red;
    transition: transform 0.5s ease-in-out;
}

body:hover .box {
    transform: translateX(10vw) scale(1.5);
} */


/* ---------------------------------- */


/* 2-example on hyperlink changing color smoothly */
/* .box {
    width: 5em;
    height: 5em;
    background: red;
    transition: transform 0.5s ease-in-out;
}

a {
    color: red;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: blue;
} */


/* ---------------------------------- */


/* 3- Moving in the body borders square  */

/* :root {
    --box-size: 7em;
}

body {
    margin: 0;
    padding: 0;
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    background: red;
}

@keyframes slide {
    0% {
       --box-size:10em;
    }

    25% {
        transform: translate( calc( 100vw - var(--box-size) ), 0) scale(1.5);
    }

    50% {
        transform: translate( calc( 100vw - var(--box-size) ), calc( 100vh - var(--box-size) ));
    }

    75% {
        --box-size:5em;
        transform: translate( 0, calc( 100vh - var(--box-size) ));
    }
} */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* padding: 3em; */
    font: 16px/1.5 Georgia, serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url("http://etiket.bg/files/nFalpz.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 0.3em;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5); */
    min-height: 90vh;
    padding: 2em;
    position: relative;
}

header:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    background: rgba(0, 0, 0, 0.6);
}

header nav,
header h1 {
    padding: 1rem 1.4rem;
    position: relative;
    z-index: 5;
}

header section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
    font-size: 1.5em;
}

header section p,
header section h2 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.6s,
        transform 0.5s ease-in-out 0.6s;
}

header section h2 {
    transform: translateX(-50vw);
}

header section p {
    transform: translateX(50vw);
}

.loaded header section p,
.loaded header section h2 {
    transform: translateX(0);
    opacity: 1;
}

header a {
    color: #fff;
    text-decoration: none;
}

nav {

}

nav ul {
    display: flex;
}

nav ul li {
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
    transform: translate(0,-5em);
    opacity: 0;
    transition: opacity 0.3s ease-in, 
        transform 0.3s ease-in;
}

nav ul li:nth-child(5) {transition-delay: 0.1s;}
nav ul li:nth-child(4) {transition-delay: 0.2s;}
nav ul li:nth-child(3) {transition-delay: 0.3s;}
nav ul li:nth-child(2) {transition-delay: 0.4s;}
nav ul li:nth-child(1) {transition-delay: 0.5s;}


.loaded nav ul li {
    opacity: 1;
    transform: translate(0,0);
}

nav ul li a {
    display: block;
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.2em;
    transition: background 0.3s ease-in;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.9);
}